syntax: glob
.idea
.metadata
*/.metadata
target
*/.idea
*/target
*/logs
*/*.iml
*/.worksheet
*/.cache
*/.classpath
*/bin
*/.settings
*/.project
*/*/.idea
*/*/target
*/*/logs
*/*/*.iml
*/*/.worksheet
*/*/.cache
*/*/.classpath
*/*/bin
*/*/.settings
*/*/.project
*/*/project/target
*.orig
*~
.cache-main
.cache-tests
